@model EmployeeManagement.WebUI.Models.DeveloperModel

<div class="item">
    <h2>Name: @Model.FirstName @Model.LastName</h2>
    <h3>ID: @Model.ID</h3>
    <h3>ManagerID: @Model.ManagerID</h3>
    <h3>DepartmnetID: @Model.DepartmentID</h3>
    <h3>Sex: @Model.Sex</h3>
    <h3>Profession: Developer</h3>
    <h3>Position: @Model.Position.ToString()</h3>
</div>