@model EmployeeManagement.WebUI.Models.DeveloperModel

<div class="item">
    <h3>Name: @Model.FirstName  @Model.LastName</h3>
    <h3>Sex: @Model.Sex</h3>
    <h3>ID: @Model.ID</h3>
    <h3>DepartmentName: @Model.DepartmentName</h3>
    <h3>DepartmentID: @Model.DepartmentID</h3>
    <h3>Employees: @Model.ManagerID</h3>
    <h3>Profession: Developer</h3>
    <h3>Position: @Model.Position</h3>
</div>