@model EmployeeManagement.WebUI.Models.ManagerModel

<div class="item">
    <h3>Name: @Model.FirstName  @Model.LastName</h3>
    <h3>Sex: @Model.Sex</h3>
    <h3>ID: @Model.ID</h3>
    <h3>DepartmentName: @Model.DepartmentName</h3>
    <h3>DepartmentID: @Model.DepartmentID</h3>
    <h3>Manager: @Model.ManagerID</h3>
    <h3>Profession: Manager</h3>
    <h3>EmployeesID: @string.Join(", ", Model.Employees)</h3>
</div>

